{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class= "d-flex justify-content-center align-item-center vh-100">
    <div class=" m-auto shadow-lg">
        <p> Bienvenue sur mon site Monster hunter ! Vous trouverez toutes les informations sur les monstres de cette serie mythique !</p>   
    </div>
</div>

{% endblock %}